<nav class="site-nav" aria-label="Site navigation">
  <input type="checkbox" id="toggle">
  <label class="nav-icon" for="toggle" title="Sitemap">
    <ul aria-hidden="true">
      <li class="top"></li>
      <li class="mid"></li>
      <li class="bot"></li>
    </ul>
  </label>
  <div class="sitemap-drawer">
    <ul class="sitemap-list">
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-root" href="{{ '/index.html' | relative_url }}">Home</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-project" href="{{ '/projects/publications/index.html' | relative_url }}">Publications</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-project" href="{{ '/projects/reflexica/index.html' | relative_url }}">Reflexica</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-project" href="{{ '/projects/carryless/index.html' | relative_url }}">Carryless Pairing</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-project" href="{{ '/projects/typedrepair/index.html' | relative_url }}">Typed Repair</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-project" href="{{ '/projects/cistercian/info.html' | relative_url }}">Cistercian Clocks</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-meta" href="{{ '/impressum.html' | relative_url }}">Impressum</a>
      </li>
      <li class="sitemap-item">
        <a class="sitemap-link sitemap-link-meta" href="{{ '/bibtex.txt' | relative_url }}" target="_blank" rel="noopener noreferrer">BibTeX</a>
      </li>
    </ul>
  </div>
</nav>
